@font-face {
    font-family: 'Pokemon_Hollow';
    src: url('assets/fonts/Pokemon/Pokemon_Hollow.ttf') format('truetype');
    font-size: normal;
}

@font-face {
    font-family: 'Pokemon_Solid';
    src: url('assets/fonts/Pokemon/Pokemon_Solid.ttf') format('truetype');
    font-size: normal;
}

@font-face {
    font-family: 'Pokemon_Classic';
    src: url('assets/fonts/Pokemon/Pokemon_Classic.ttf') format('truetype');
    font-size: normal;
}