.pokeball-projects {
    display: grid;
    grid-template-columns: 2fr 1fr;
    // flex-wrap: wrap;
    justify-content: center;
    gap: 174px;
    margin-top: 260px;
    margin-bottom: 96px;
    align-content: center;
    border: 10px solid white;
    padding: 62px;
    padding-right: 62px;
    padding-top: 112px;
    background-color: #CACFA1;
    box-shadow: 10px 10px white;
    overflow: hidden;
    padding-bottom: 113px;
}

.pokeball-container {
    position: relative;
    width: 192px;
    height: 192px;
    cursor: pointer;
}

.pokeball {
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            white 16px,
            black 17px 18px,
            white 19px 24px,
            black 25px 32px,
            transparent 33px
        ),
        linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
    border-radius: 50%;
    border: 8px solid black;
    box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
    animation: none;
}

.pokeball-container.animate .pokeball {
    
    animation: fall 0.5s ease-in-out 0.5s,
        shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1s 3,
        catch 0.5s ease-out 4s forwards;
}


.project-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 250px;
    height: 350px;
    padding: 20px;
    background: white;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    img{
        width: 100%;
        height: auto;
    }
}

.project-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Pokemon_Classic';
}

.project-card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.view-project {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffcb05;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.pokeball-container.active .project-card {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    border: 13px solid #FFCC00;
    background-color: #3267AD;
}

/* Animation */
@keyframes shake {
    0% {
        transform: translateX(0) rotate(0);
    }
    20% {
        transform: translateX(-10px) rotate(-20deg);
    }
    30% {
        transform: translateX(10px) rotate(20deg);
    }
    50% {
        transform: translateX(-10px) rotate(-10deg);
    }
    60% {
        transform: translateX(10px) rotate(10deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

@keyframes fall {
    0% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes catch {
    to {
        filter: saturate(0.8) brightness(0.8);
    }
}


