.single-post-container{
    position: absolute;
    top: 190px;
}

.title{
    font-family: Pokemon_Classic;
    display: flex;
    border: 5px solid white;
    /* width: 340px; */
    background-color: #C4CFA1;
    color: black;
    /* left: 50%; */
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-techno{
    border: 3px solid black;
    padding: 10px;
    font-family: 'Pokemon_Classic';
    font-size: 1rem;
    box-shadow: 2px 2px 0 black;
    // position: absolute;
    top: 352px;
    background-color: #C4CFA1;
    left: 54px;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.post-liens{
    border: 3px solid black;
    padding: 10px;
    font-family: 'Pokemon_Classic';
    font-size: 1rem;
    box-shadow: 2px 2px 0 black;
    // position: absolute;
    top: 252px;
    background-color: #C4CFA1;
    left: 54px;
    z-index: 2;
    display: flex;
    justify-content: center;
    display: none;
}
.post-thumbnail{
    display: flex;
    margin-top: 18px;
}

.post-text{
    font-family: 'Pokemon_Classic';
    border: 5px solid white;
    padding: 10px;
    box-shadow: 6px 6px 0 white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 17px;
    margin-bottom: 114px;
}

.first-section{
    position: relative;
    top: 50px;
}

/*.swiper {
    width: 1444px;
    height: 700px;
    z-index: -1;
  }

.swiper-slide img {
    width: 100%;
    object-fit: cover;
    
}*/